div.wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 50%, #5252521f 100%), #000000;
    color: var(--textcolor);

    display: flex;
    align-items: center;
    flex-direction: column;

    div.navbar {
      position: relative;
      width: 100%;
      height: var(--navHeight);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;

      svg {
        margin-right: 2rem;
      }
      a {
          display: inline-block;
          padding: 20px;
          text-decoration: none;
          color: #fff;
          opacity: .3;
          font-weight: 400;
          font-size: 11px;
          letter-spacing: 1.5px;
          pointer-events: all;
          -webkit-transition: color .3s,background-position .3s;
          transition: color .3s,background-position .3s;
          background-image: -webkit-gradient(linear,left top,left bottom,from(transparent),color-stop(50%,transparent),color-stop(50%,#fff),to(#fff));
          background-image: linear-gradient(180deg,transparent 0,transparent 50%,#fff 0,#fff);
          background-size: 100% 200%;
          background-position: -100% 0;
          transition: .5s linear all;
          &:hover {
              opacity: 1;
              cursor: pointer;
          }

          &.active {
            opacity: 1;
          }
      }
    }

    div.land {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: var(--maxwidth);
      padding-top: 5rem;
      
      .headerText {
        font-size: 8rem;
        font-weight: 700;

        span.colorized {
          background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      .bottomText {
        font-weight: 200;
        font-size: 1.3rem;
        padding-top: 2rem;

        span.bold {
          font-weight: bold;
        }
      }

      div.container {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
          position: relative;
          background: #2efa9b81;
          border: 1px solid #2efa9bc9;
          outline: none;
          padding: 1rem 1.5rem;
          border-radius: 15px;

          width: max-content;

          margin-top: 2rem;
          color: var(--textcolor);
          opacity: .8;

          transition: .2s opacity linear;

          font-weight: 600;
          font-size: 1rem;
          &:hover {
            opacity: 1;
            cursor: pointer;
          }
        }
      }

    }
}