div.homeContainer {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 500px;

  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1.bigText {
  font-size: 9rem;
  font-weight: 900;
  color: #fff;
  text-align: center;
  line-height: 110px;
  span {
    position: relative;
    background-image: linear-gradient(
      to left,
      #b465da 0%,
      #cf6cc9 33%,
      #ee609c 66%,
      #b465da 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fadeBackground 0.2s ease infinite;

    @keyframes fadeBackground {
      0% {
        background-position: 0%;
      }
      50% {
        background-position: 200%;
      }
      100% {
        background-position: 0%;
      }
    }
  }
}

span.gray {
  margin-top: 4rem;
  color: #cfcfcfc4;
  font-size: 1.1rem;
}
