

div.navbar {
    position: relative;
    width: 100%;
    height: var(--navHeight);
    background: var(--navcolor);
    color: var(--textcolor);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 2rem;
    padding-right: 2rem;
    backdrop-filter: blur(2px);

    border-bottom: 1px solid #222222;
    
    div.logo span {
        font-family: 'Inter';
        font-weight: 100;
        font-size: 37px;
    }
    div.items {
        display: flex;
        div.item {
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 6px;
            padding-bottom: 6px;
            margin-right: 0.5rem;
            background: rgb(42, 42, 42);
            border-radius: 25px;
            
            a {
                text-decoration: none;
                color: var(--textcolor);
            }
        }
    }

    div.account {
        display: flex;
    }
}

