div.error {
    position: relative;
    width: 100%;
    height: calc((100vh) - var(--navHeight));
    
    color: var(--textcolor);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        padding-top: 1rem;
    }
}