header {
  &.vertical {
    display: flex;
    width: 120px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(19, 19, 19);
    border-radius: 0px 20px 20px 0px;

    padding-top: 4rem;

    padding-bottom: 4rem;
  }
  &.horizontal {
    position: relative;
    width: 100%;
    height: 80px;
    padding-bottom: 3rem;

    display: flex;
    justify-content: space-between;
  }

  div.items,
  div.socialItems {
    display: flex;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    a {
      text-decoration: none;
      color: #fff;
      font-size: 0.85rem;
      text-transform: uppercase;
      opacity: 0.6;
      transition: 0.2s ease opacity;
      font-weight: 500;
      &.active,
      &:hover {
        opacity: 1;
      }
    }
  }
}
